# limine.cfg

TIMEOUT=3

:Mesa OS v0.1.0
    PROTOCOL=limine
    KERNEL_PATH=boot:///boot/mesa_kernel

:Mesa OS (Recovery)
    PROTOCOL=limine
    KERNEL_PATH=boot:///boot/mesa_kernel
    CMDLINE=recovery=1